body {
    background-image: url(./img/background@1X.png);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    width: 910px;
    box-sizing: border-box;
}

.header {
    background-image: url(./img/logo@1X.png);
    background-repeat: no-repeat;
    margin-top: 35px;
    display: inline-block;
}

.header__hover1 {
    display: inline-block;
}

.header__hover1:hover .logo {
    opacity: 1;
    position: relative;
    bottom: 15px;
}

.header__hover1:hover .name__milan {
    color: #f26522;
}

.logo {
    display: inline-block;
    opacity: 0;
}

.name {
    display: inline-block;
    font-weight: bold;
    color: white;
    list-style-type: none;
    position: relative;
    bottom: 14px;
}

.name__milan {
    font-size: 25px;
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 27px;
}

.name__milan span {
    font-size: 18px;
}

.name__milan:hover::before {
    background-image: url(./img/logo@1Xhover.png);
    position: relative;
    bottom: 200px;
}

.contact {
    display: inline-block;
    white-space: pre;
    line-height: 13px;
    margin: 0;
    position: relative;
    left: 600px;
    bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contact a:hover {
    color: #f26522;
}

.main {
    position: relative;
    top: 2rem;
}

.bg-1 {
    background-image: url(./img/shoppingtours.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-2 {
    background-image: url(./img/Layer\ 22@1X.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-3 {
    background-image: url(./img/Layer\ 23@1X.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-4 {
    background-image: url(./img/Layer\ 24@1X.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-5 {
    background-image: url(./img/Layer\ 25@1X.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-6 {
    background-image: url(./img/Layer\ 26@1X.png);
    height: 12.6rem;
    display: inline-block;
    width: 100%;
}

.bg-4, .bg-5, .bg-6 {
    position: relative;
    top: 3rem;
}

.bg-2, .bg-5 {
    position: relative;
    left: 6rem;
}

.bg-3, .bg-6 {
    position: relative;
    left: 12rem;
}

.menu1 {
    background-color: #f26522;
    position: relative;
    top: 8.6rem;
    height: 4rem;
    opacity: 0;
}

.main__content {
    width: 32%;
    margin: 0;
    display: inline-block;
}

.one1, .one2, .one3 {
    position: relative;
    left: 4.4rem;
    font-size: 1.2rem;
    top: 0.6rem;
}

.two1, .two2, .two3 {
    position: relative;
    left: 4.4rem;
    font-size: 1.2rem;
    top: 3.6rem;
}

.one2, .two2 {
    position: relative;
    left: 10rem;
}

.one3, .two3 {
    position: relative;
    left: 18rem;
}

.main__content:hover .menu1 {
    opacity: 1;
}

.main__content:hover>a {
    color: #f26522;
}

.text-price, .text-details {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: left;
}

.text-price a, .text-details a {
    text-decoration: none;
    color: white;
}

.main a {
    text-decoration: none;
    color: white;
}

.text-price span {
    font-size: 1.4rem;
}

.text-price span:nth-child(1) {
    font-size: 0.9rem;
}

.text-details {
    font-size: 1.1rem;
    position: relative;
    left: 5rem;
    bottom: 0.2rem;
}

.text-price {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.footer {
    color: white;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 10rem;
    left: 5rem;
}